/*
	Main css for TdayEx page
*/	

/*======Global Styles ==== */


body {
	background-color: #CCC;
	margin: 0;
	padding:0;
}

/* Header Style */

#header {
	width: 800px;
	height: 250px;
	position: relative;
	background-color: white; 
	background-image: url(C:\Documents and Settings\Brett\My Documents\GitHub\TdayEx/image/flame.jpeg) no-repeat; 
	
}

/* Main Menu */

#header.nav {
	position: absolute;
	left: 0;
	bottom: 0;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	float: left;
	position: relative; 
	left: 500px;
	top: 0;
}

.nav li a:link, .nav li a:visited {
	display: block;
	color: red;
	text-decoration: none;
	padding: 0 5px 0 5px;
	margin-right: 5px;
	border: none;

}

.nav li a:hover, .nav li a:active {
	color: black;
}

.nav li a:current:hover {
	cursor: default;

}


blockquote {
	font-family:Garmond;
	color:blue;
	font-size:20px;
	}
